<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket>
<body>
<wicket:extend>
	<header class="jumbotron subhead" id="overview">
	    <h1>Components</h1>
	    <p class="lead">Twitter Bootstrap components integrated with Apache Wicket</p>
	    <div class="subnav">
			<ul class="nav nav-pills">
				<li class="dropdown active">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Buttons <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class=""><a href="#buttonGroups">Button groups</a></li>
						<li class=""><a href="#buttonDropdowns">Button dropdowns</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Navigation <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class=""><a href="#navs">Nav, tabs, pills</a></li>
						<li class=""><a href="#navbar">Navbar</a></li>
						<li><a href="#breadcrumbs">Breadcrumbs</a></li>
						<li><a href="#pagination">Pagination</a></li>
					</ul>
				</li>
				<li><a href="#labels">Labels</a></li>
				<li><a href="#badges">Badges</a></li>
				<li><a href="#typography">Typography</a></li>
				<li><a href="#thumbnails">Thumbnails</a></li>
				<li><a href="#alerts">Alerts</a></li>
				<li><a href="#progress">Progress bars</a></li>
				<li><a href="#misc">Miscellaneous</a></li>
			</ul>
		</div>
	</header>
</wicket:extend>	
</body>
</html>