<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket>
<wicket:panel>
	<div class="modal-header">
	  <a class="close" data-dismiss="modal">x</a>
	  <h3><span wicket:id="header">Modal header</span></h3>
	</div>
	
	<div class="modal-body">
	  <span wicket:id="content"/>
	</div>
	<div class="modal-footer">
	  <a href="#" wicket:id="submit" class="btn btn-primary">Save changes</a>
	  <a href="#" wicket:id="cancel" class="btn" data-dismiss="modal">Close</a>
	</div>
</wicket:panel>
</html>
